<h1>Components</h1>
<nav>
  <ul class="component-list">
    {% for component in page.navigation %}
      <li class="component-list-item {% if component.icon_id %}component-list-item--icon-{{ component.icon_id }}{% endif %}">
        <a class="component-list-item__link"
           href="{{ site.rootpath }}{{ page.basepath }}{{  component.url  }}">
          <div class="component-list-item__text">
            <h2 class="component-list-item__title">{{ component.title }}</h2>
            <div class="component-list-item__description">
              {{ component.excerpt }}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
