<li class="drawer-list__item">
  <a class="drawer-list__link
            {% if include.nav_item.url == page.path %}drawer-list__link--active{% endif %}"
     {% if include.nav_item.url %}
       href="{{ site.rootpath }}{{ page.basepath }}{{ include.nav_item.url }}"
     {% endif %}>
    {{ include.nav_item.title }}
  </a>

  {% if include.nav_item.children %}
    <ul class="drawer-list drawer-list--sublevel">
      {% for child_nav_item in include.nav_item.children %}
        {% include drawer-nav-item.html nav_item=child_nav_item %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
