<footer class="footer
    {% if include.is_dense == true %}footer--dense{% endif %}">
  <div class="footer__content">
    <a class="footer__logo" href="https://www.google.com" target="_blank"></a>
    <ul class="footer__links">
      <li>
        <a class="footer__link" href="http://www.google.com/intl/en/about/" target="_blank">About Google</a>
      </li>
      <li>
        <a class="footer__link" href="https://www.google.com/intl/en/policies/terms/" target="_blank">Privacy &amp; Terms</a>
      </li>
      <li class="footer__link-container footer__link-container--right">
        <a class="footer__made-with-desktop-link footer__link" href="https://material.io/components/web">
          Made with Material Components for the Web
        </a>
        <a class="footer__made-with-mobile-link footer__link" href="https://material.io/components/web">
          Made with MDC Web
        </a>
      </li>
    </ul>
  </div>
</footer>
