<footer class="footer">
  <div class="footer__content">
    <a class="footer__logo" href="https://www.google.com" target="_blank"></a>
    <nav>
      <ul class="footer__links">
        <li>
          <a class="footer__link" href="http://www.google.com/intl/en/about/" target="_blank">About Google</a>
        </li>
        <li>
          <a class="footer__link" href="https://www.google.com/intl/en/policies/terms/" target="_blank">Privacy &amp; Terms</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
