<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
  <title>{% if page.title and page.title != page.site_title %}{{ page.title | escape }} - {% endif %}{{ page.site_title | escape }}</title>

  <meta itemprop="name" content="{% if page.title and page.title != page.site_title %}{{ page.title | escape }} - {% endif %}{{ page.site_title | escape }}" />
  <meta itemprop="image" content="https://material.io/static/images/simple-lp/components-share.png" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.site_description }}{% endif %}" />

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title and page.title != page.site_title %}{{ page.title | escape }} - {% endif %}{{ page.site_title | escape }}" />
  <meta property="og:site_name" content="{{ page.site_title | escape }}" />
  <meta property="og:image" content="https://material.io/static/images/simple-lp/components-share.png">
  <meta property="article:section" content="{% if page.title %}{{ page.title | escape }}{% endif %}" />

  <link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
  <link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <link rel="apple-touch-icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://material.io/static/images/simple-lp/favicons/components-144x144.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://material.io/static/images/simple-lp/favicons/components-180x180.png">
  <meta name="msapplication-TileImage" content="https://material.io/static/images/hub/favicons/hub-ms-icon-144x144.png">
  <meta name="msapplication-tap-highlight" content="no">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.rootpath }}/css/codemirror.css">
  <link rel="stylesheet" href="{{ site.rootpath }}/css/app.css">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@materialdesign">
  <meta name="twitter:title" content="Material Components">
  <meta name="twitter:description" content="Create beautiful apps with modular and customizable UI components">
  <meta name="twitter:image" content="https://material.io/static/images/simple-lp/components-share.png">
</head>
