{% comment %}
TODO(shyndman): Move this over to mdc-tabs when they're complete.
TODO(shyndman): This should be data driven.
{% endcomment %}
<nav class="toolbar-nav">
  <ul class="toolbar-nav__links">
    <li>
      <a href="{{ page.basepath }}/docs/"
         class="toolbar-nav-link
             {% if page.section == 'docs' %}toolbar-nav-link--active{% endif %}">
        <span class="toolbar-nav-link__text">Docs</span>
      </a>
    </li>
    <li>
      <a href="{{ page.basepath }}/listing.html"
         class="toolbar-nav-link
             {% if page.section == 'components' %}toolbar-nav-link--active{% endif %}">
        <span class="toolbar-nav-link__text">Components</span>
      </a>
    </li>
    <li>
      <a href="{{ page.repo_url }}"
         class="toolbar-nav-link">
        <span class="toolbar-nav-link__text">View on GitHub</span>
      </a>
    </li>
  </ul>
</nav>
