{% comment %}
TODO(shyndman): Move this over to mdc-tabs when they're complete.
TODO(shyndman): This should be data driven.
{% endcomment %}
<nav class="toolbar-nav">
  <ul class="toolbar-nav__links">
    <li>
      <a class="toolbar-nav-link" href="{{ page.basepath }}/docs/">
        <span class="toolbar-nav-link__text">Docs</span>
      </a>
    </li>
    <li>
      <a class="toolbar-nav-link" href="{{ page.basepath }}/listing.html">
        <span class="toolbar-nav-link__text">Components</span>
      </a>
    </li>
    <li>
      <a class="toolbar-nav-link" href="{{ page.repo_url }}">
        <span class="toolbar-nav-link__text">View on GitHub</span>
      </a>
    </li>
  </ul>
</nav>
