<section class="welcome
    {% if include.is_root == true %}welcome--root{% endif %}
    {% if page.site_platform %}welcome--platform-{{ page.site_platform }}{% endif %}">
  <div class="welcome__content">
    <div class="welcome__text">
      <h1 class="welcome__title">
        {{ page.site_title }}
      </h1>
      <h2 class="welcome__blurb">
        Create beautiful apps with modular and customizable UI components.
      </h2>
      {% if include.is_root == true %}
        <ul class="welcome__links welcome-link-list">
          <li class="welcome-link-list-item"><a href="ios/">iOS</a></li>
          <li class="welcome-link-list-item"><a href="android/">ANDROID</a></li>
          <li class="welcome-link-list-item"><a href="web/">WEB</a></li>
        </ul>
      {% else %}
        <ul class="welcome__links welcome-link-list">
          <li class="welcome-link-list-item"><a href="{{ page.basepath }}/catalog/">COMPONENTS</a></li>
          <li class="welcome-link-list-item"><a href="{{ page.basepath }}/docs/">DOCUMENTATION</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="welcome__benefits">
    {% contentblock benefits %}
  </div>
</section>
