<!DOCTYPE html>
<html class="mdc-typography">
  {% include head.html %}
  <body class="page page--detail page--{{ page.section }} page--platform-{{ page.site_platform }}">
    {% include toolbar.html
        title=page.site_title
        short_title=page.site_short_title
        is_root=false %}

    <div class="page__content page__flex-element">
      {% include drawer.html %}
      <article class="page__article article {% if page.icon_id %}article--icon-{{ page.icon_id }}{% endif %}">
        {{ content }}
      </article>
    </div>

    {% include footer.html %}
    {% include frontend-templates.html %}
    {% include feedback.html %}
    {% include scripts.html %}
  </body>
</html>
