<!DOCTYPE html>
<html class="mdc-typography">
  {% include head.html %}
  <body class="{{ page.layout }} {{ page.section }}">
    {% include toolbar.html title=site.title %}

    <div class="page-content">
      {% include drawer.html %}
      <article class="article">
        {% if page.category == components %}

        {% endif %}
        {{ content }}
      </article>
    </div>

    {% include footer.html %}
    {% include frontend-templates.html %}
    {% include scripts.html %}
  </body>
</html>
