<!DOCTYPE html>
<html class="mdc-typography">
  {% include head.html %}
  <body class="page page--homepage page--platform-{{ page.site_platform }}">
    {% include toolbar.html
        title="Material Components"
        title_link="../"
        no_shadow=true %}

    <div class="page__flex-element">
      {% include welcome.html %}
      <div class="page__content">
        <article class="page__article article article--full-width">
          {{ content }}
        </article>
      </div>
    </div>

    {% include footer.html %}
    {% include frontend-templates.html %}
    {% include scripts.html %}
  </body>
</html>
