<!DOCTYPE html>
<html class="mdc-typography">
  {% include head.html %}
  <body class="root-homepage mdc-typography">
    {% include toolbar.html
        title="Material Design"
        title_link="/"
        logo="material-logo.svg"
        no_shadow=true
        is_root=true %}
    {% include welcome.html is_root=true %}
    <div class="page-content page-content--dense root-homepage__content">
      {{ content }}
    </div>
    {% include footer.html is_dense=true %}
    {% include frontend-templates.html %}
    {% include scripts.html %}
  </body>
</html>
