<!DOCTYPE html>
<html class="mdc-typography">
  {% include head.html %}
  <body class="page page--root-homepage">
    {% include toolbar.html
        title="Material Design"
        title_link="/"
        logo="material-logo.svg"
        no_shadow=true
        is_root=true %}

    <div class="page__flex-element">
      {% include welcome.html is_root=true %}
      <div class="page__content">
        <article class="page__article article">
          {{ content }}
        </article>
      </div>
    </div>

    {% include footer.html is_dense=true %}
    {% include frontend-templates.html %}
    {% include scripts.html %}
  </body>
</html>
