.article {
  @include mdc-typography(body1);

  h1 {
    // See _component-icons.scss for additional mutations in component pages.
    @include mdc-typography(headline);
    margin-bottom: 24px;
  }

  h2 {
    @include mdc-typography(subheading2);
    margin: 24px 0 12px;
  }

  h3 {
    @include mdc-typography(body2);
    margin: 24px 0;
  }

  h4 {
    font-style: italic;
    margin: 20px 0 12px;
  }

  h1,
  h2 {
    font-family: $ui-font-family;
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1.5rem 0;
    padding: 0;
  }

  p {
    margin: 16px 0;
  }

  // Data table

  table {
    margin: 8px 0 32px;
  }

  th {
    color: $black-54;
    font-weight: 500;
    padding: 18px 0;
    text-align: left;
  }

  td {
    padding: 14px 0;
    border-top: 1px solid $grey-300;

    &:first-child code {
      background: 0;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  th + th,
  td + td {
    padding-left: 56px;
  }

  // Screenshots/videos

  &__asset {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $black-05;
    padding: 24px;
    margin: 24px 0 28px;

    > video,
    > img {
      max-width: 100%;
    }

    &--screenshot {
      > video,
      > img {
        width: 240px;
      }
    }
  }
}
