// Globals used in this file
$code-background-color: $black-05;
$code-divider-color: $black-10;
$code-font-family: 'Roboto Mono', monospace;
$code-text-color: $black-54;
$code-text-size: 12px;
$code-text-weight: 500;
$code-lineheight: 20px;

%code-text-style {
  font-family: $code-font-family;
  font-weight: $code-text-weight;
  font-size: $code-text-size;
  line-height: $code-lineheight;
  color: $code-text-color
}

.CodeMirror {
  height: auto;
  margin: 24px 0;
  background: $code-background-color;
  border: none;
  pre {
    @extend %code-text-style;
    z-index: 0;
  }
}

// Override the standard codemirror margins
// when inside the multicode container
.material-code-render .CodeMirror {
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin: 0px;

  &.active {
    visibility: visible;
  }
}

.CodeMirror-scroll {
  max-height: 300px;
}

// The box containing code text inside the codemirror shell
.CodeMirror-code {
  // Margin above and below source code text, within scroll box.
  margin: 12px 0;
}

// Padding between code lines and their line number
pre.CodeMirror-line {
  padding-left: 24px;
}
// Padding is already present in editors with line-numbers
.material-code-render.line-numbers pre.CodeMirror-line {
  padding-left: 0;
}


// Syntax highlight colors
.CodeMirror {
  .cm-keyword, .cm-variable-3 {
    color: $pink-900;
  }
  .cm-def, .cm-userpath, .cm-string, .cm-atom {
    color: $brown-400;
  }
  .cm-comment {
    color: $brown-200;
  }
}

.CodeMirror .hll {
  .CodeMirror-linenumber.CodeMirror-gutter-elt,  .CodeMirror-line {
    background-color: #EEEEEE;
  }
}

// Styles for the multi-code container
.material-code-render {
  position: relative;
  margin: 24px 0 24px 0;

  // Hide any headings that were used for annotating code
  // in the github version of markdown.
  h3, h4 {
    display: none;
  }

  .language {
    padding: 8px 0 8px 14px;
    border: 1px solid $code-divider-color;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    color: $code-text-color;

    .radio {
      margin-right: 16px;
      padding: 8px 8px 8px 0;

      input[type=radio] {
        display: none;
      }
      .source-radio {
        height: 24px;
        width: 24px;
        vertical-align: bottom;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;

        &.checked {
          background-image: url('/images/radio-checked.svg');
          display: none;
        }
        &.unchecked {
          background-image: url('/images/radio-unchecked.svg');
          opacity: 0.54;
          display: inline-block;
        }
      }
      input[type=radio]:checked+.icons .source-radio{
        &.checked {
          display: inline-block;
        }
        &.unchecked {
          display: none;
        }
      }
    }
  }
}

