.mdc-permanent-drawer {
  border: 0;
  height: auto;
  min-width: 304px;
  margin-top: -8px;
  margin-right: 24px;
}

// Notes:
.drawer-list {
  font-family: $ui-font-family;
  font-weight: 500;

  &--sublevel {
    margin-left: 16px;
  }

  &__item {

  }

  &__link {
    display: inline-block;
    padding: 8px 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      @include link-styles {
        color: $accent-color;
      }
    }
  }
}
