.mdc-permanent-drawer {
  border: 0;
  height: auto;
}

.drawer-list {
  font-family: $ui-font-family;
  font-weight: 500;

  &--sublevel {
    margin-left: 16px;
  }

  &__link {
    @include link-styles {
      color: $grey-700;
    }

    display: inline-block;
    padding: 8px 0;
    position: relative;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      @include link-styles {
        color: $black;
        font-weight: 500;
        text-decoration: underline;
        text-decoration-color: $accent-color;
        text-underline-position: under;
      }
    }
  }
}
