.feedback-button {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 48px;
  height: 48px;
  padding: 0;

  background: center/24px url('/images/icons/ic_feedback_24px.svg') no-repeat;
  border: none;
  opacity: 0.54;
}
