// This code is designed to position the hidden marks appropriately, while still
// allowing the user to copy the text with spaces intact and without hidden
// marks.
.hidden-mark {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  &::after {
    position: absolute;
    right: 0;
    color: #9b9b9b;
  }

  &--dot::after {
    content: '•';
  }

  &--return::after {
    content: '¬';
  }
}
