.hidden-mark {
  display: inline-block;
  white-space: nowrap;

  &::before,
  &::after {
    color: #9b9b9b;
  }

  &--dot::before {
    content: '•';
  }

  &--return::after {
    content: '¬';
  }
}
