.page-content {
  @include content-element;

  display: flex;
  align-items: stretch;
  margin-top: 78px + $toolbar-height;

  &--dense {
    margin-top: 56px + $toolbar-height;
  }

  @include media-phone {
    margin-top: 32px + $toolbar-height;
  }

  #homepage & {
    margin-top: 80px;
  }
}
