.mdc-toolbar {
  $component: &;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $toolbar-background;
  color: $toolbar-text-color;
  height: $toolbar-height;
  z-index: 7; // Highest z-index used by CodeMirror + 1

  &__title {
    background: no-repeat left/40px url('/images/mdc-logo.svg');
    font-family: $ui-font-family;
    font-weight: 400;
    height: 32px;
    padding: 2px 0 5px 50px;
    text-transform: uppercase;
    white-space: nowrap;

    #{$component}--root & {
      background-image: url('/images/material-logo.svg');
      background-size: contain;
    }

    &--mini {
      display: none;
    }
  }

  &__title-link {
    @include link-styles {
      color: $toolbar-text-color;
      text-decoration: none;
    }
  }

  &__row {
    @extend %page-element;
    height: $toolbar-height;
  }

  &--no-shadow {
    box-shadow: none;
  }

  @include breakpoint($max: 820px) {
    &__title {
      &--full {
        display: none;
      }

      &--mini {
        display: block;
      }
    }
  }

  &--platform {
    @include breakpoint($max: $mobile-toolbar-max-width) {
      height: $mobile-toolbar-height;

      #{$component}__title-link {
        padding: 16px 0 0 16px;
      }

      // Regardless of alignment class, justify to the start.
      #{$component}__section {
        justify-content: flex-start;
      }

      #{$component}__row {
        flex-direction: column;
        height: $mobile-toolbar-height;
        padding: 0;
      }
    }
  }
}

.toolbar-nav {
  margin-top: -1 * nth($mdc-toolbar-padding, 1);
  height: $toolbar-height;

  &__links {
    display: flex;
    height: 100%;
  }

  .mdc-toolbar--platform & {
    @include breakpoint($max: $mobile-toolbar-max-width) {
      align-self: flex-start;
      height: 48px;
      margin-top: 0;
    }
  }
}

.toolbar-nav-link {
  $component: &;

  @include link-styles {
    color: $white;
    fill: $white;
  }

  display: inline-flex;
  align-items: center;

  height: 100%;
  padding: 0 14px;

  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &__text {
    position: relative;
    top: 2px;
  }

  &--active {
    @include link-styles {
      color: $accent-color;
    }

    border-bottom: 2px solid $accent-color;
  }

  // Icon representations are only used for mobile layouts.
  &__icon {
    display: none;
  }

  .mdc-toolbar--platform & {
    @include breakpoint($max: 960px) {
      &--github #{$component}__text {
        display: none;
      }

      &--github #{$component}__icon {
        display: block;
      }
    }

    @include breakpoint($min: 451px, $max: $mobile-toolbar-max-width) {
      &--github #{$component}__text {
        display: block;
      }

      &--github #{$component}__icon {
        display: none;
      }
    }
  }

  @include breakpoint($max: 450px) {
    &--github &__text {
      display: none;
    }

    &--github &__icon {
      display: block;
    }
  }
}
