.toolbar-platform-chooser__button {
  width: 48px;
  height: 48px;

  align-self: center;
  background: none;
  border: none;

  outline: 0; // TODO(shyndman): Add a reasonable focus state.
}

.toolbar-platform-chooser__menu {
}
