.welcome-link-list {
  display: flex;
  list-style: none;
  margin-left: 0;
}

.welcome-link-list-item {
  &:first-child {
    margin-left: -23px;
  }

  > a {
    @include link-styles {
      color: $white;
      text-decoration: none;
    }

    position: relative;
    padding: 24px 23px;

    &::after {
      content: '';

      position: absolute;
      bottom: 18px;
      left: 22px;
      right: 22px;

      border-bottom: 2px solid $white;
      transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover::after {
      transform: translateY(3px);
    }
  }
}
