.welcome {
  $component: &;

  background: $toolbar-background;
  color: $toolbar-text-color;
  padding-bottom: 60px;

  &__content {
    @extend %page-element;

    display: flex;
    flex-direction: row;

    // This element is the hero graphic.
    &::after {
      content: '';
      background-position: right top;
      background-repeat: no-repeat;
      background-size: contain;
      flex: 1;
      margin: 140px 64px 56px 24px;
      min-width: 400px;
    }

    #{$component}--platform-android &::after {
      background-image: url('/images/welcome/android.svg');
    }

    #{$component}--platform-ios &::after {
      background-image: url('/images/welcome/ios.svg');
    }

    #{$component}--platform-web &::after {
      background-image: url('/images/welcome/web.svg');
    }

    #{$component}--root & {
      // The hero is shown on the left side of the root homepage.
      flex-direction: row-reverse;

      &::after {
        background-position: top left;
        background-image: url('/images/welcome/root.svg');
        margin-top: 180px;
        margin-bottom: 0;
      }
    }
  }

  &__text {
    margin: 130px 0 0;
    max-width: 412px;
  }

  &__title {
    font-family: $ui-font-family;
    font-size: 56px;
    line-height: 72px;
    max-width: 412px;

    .hidden-mark {
      &::before,
      &::after {
        color: $white-50;
      }
    }
  }

  &__blurb {
    font-family: $ui-font-family;
    font-size: 24px;
    line-height: 40px;
    margin-top: 32px;
  }

  &__links {
    margin-top: 48px;
  }

  &__benefits {
    @extend %page-element;

    margin-top: 108px;
  }

  @include media-small {
    padding-bottom: 0;

    &__content,
    &--root &__content {
      flex-direction: column;

      &::after {
        flex: none;
        background-position: center;
        margin: 44px 0 0;
        padding-top: 68%; // Proportional scaling.
      }
    }

    &__text {
      max-width: none;
    }

    &__title {
      font-size: 24px;
      line-height: 34px;
    }

    &__blurb {
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
    }

    &__links {
      display: none;
    }

    &__benefits {
      margin-top: 80px;
    }
  }

  @include media-medium {
    &__content,
    &--root &__content {
      &::after {
        margin: 130px 0 -20px 20px;
      }
    }

    &__title {
      font-size: 34px;
      line-height: 42px;
    }

    &__blurb {
      font-size: 24px;
      line-height: 32px;
      margin-top: 24px;
    }
  }
}
