*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: $black-87;
}

strong {
  font-weight: 500;
}

code {
  &::before,
  &::after {
    content: '\00a0';
    letter-spacing: -0.4em;
  }
  font-family: $ui-font-family;
  background: $black-05;

  // Links are already underlined, and use Roboto Mono. Keeping the background
  // doesn't look good.
  a & {
    background: none;
  }
}

ol {
    list-style-type: decimal;
  }

ul {
  list-style-type: disc;
}

ol,
ul {
  margin-left: 18px;
}

li {
  padding-bottom: 8px;
}

nav {
  ol,
  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    padding-bottom: 0;
  }
}

a {
  @include link-styles {
    @include mdc-typography(body1);
    color: $black-87;
    font-family: $ui-font-family;
  }
}