$black-02: rgba(0, 0, 0, 0.02);
$black-05: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.10);
$black-20: rgba(0, 0, 0, 0.20);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);
$black: #000;
$brown-200: #BCAAA4;
$brown-400: #8D6E63;
$green-a700: #00C853;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-50: #fafafa;
$grey-600: #757575;
$grey-800: #424242;
$grey-900: #212121;
$indigo-500: #3F51B5;
$light-blue-500: #03A9F4;
$pink-900: #880E4F;
$teal-400: #26A69A;
$white: #fff;

$accent-color: #00e871;
$header-background: $grey-900;
$header-text-color: $white;

$content-width: 1280px;
$toolbar-height: 72px;
$ui-font-family: 'Roboto Mono';

// MDC overrides
$mdc-theme-primary: $accent-color;
$mdc-theme-accent: $accent-color;
$mdc-theme-background: $white;
