// Notes:
// 36px between baselines
.drawer-list {
  font-family: $ui-font-family;
  font-weight: 500;
}

.mdc-permanent-drawer {
  border: 1px solid magenta;
  height: auto;
  min-width: 304px;
  margin-right: 24px;
}
