@mixin content-element {
  $min-content-padding: 16px;

  max-width: $content-width + 2 * $min-content-padding;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@mixin breakpoint($min: 0, $max: 0) {
  @if $min != 0 and $max != 0 {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min != 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else if $max != 0 {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @error "$min or $max must be specified";
  }
}

@mixin media-phone {
  @include breakpoint($max: 720px) {
    @content;
  }
}

@mixin link-styles {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    @content;
  }
}
