.welcome {
  @include pad-to-page-width;

  background: $header-background;
  color: $header-text-color;

  &__content {
    height: 640px - $toolbar-height;
    background: right -80px/800px url("/images/welcome.svg") no-repeat;
  }

  &__title {
    font-family: $ui-font-family;
    font-size: 56px;
    line-height: 72px;
    max-width: 412px;
    padding-top: 160px;
  }
}
